<p>
  Hi, <%= @current_user.full_name %>
</p>
<p>
  You created new startup <%= @startup.name %>,
  which located on <%= @startup.accelerator.name.capitalize() %> accelerator on our RAMP Client Business Planning support tool.
</p>
