<p>
  Hi!
</p>
<p>
  You received this letter because new startup <%= @startup.name %> has beed created by <%= @current_user&.email %>,
  The startup is located on <%= @startup.accelerator.name.capitalize() %> accelerator on our RAMP Client Business Planning support tool.
</p>
