<p>
  Hi,
</p>
<p>
  You received this letter because you have been assigned to <%= @startup.name %> startup as Admin,
  which located on <%= @startup.accelerator.name.capitalize() %> accelerator on our RAMP Client Business Planning support tool.
</p>
