<p>
  Hi!
<p>
<p>You received this letter because you are member of the <%= @startup.name %> startup on our RAMP Client Business Planning support tool</p>
<p>You have been assigned to a new task: <b><%= @task.title %></b></p>
