<p>
  Hi,
</p>
<p>
  You received this letter because you are Startup Admin of <b><%= @member.startup.name %></b> is located on <%= @member.accelerator.name.capitalize() %> Accelerator
  on RAMP Client Business Planning support tool.
</p>
<p>
  The user of your startup <i><%= @member.full_name %></i> recently completed task <b><%= @task.title.capitalize() %></b>
</p>
