<p>
  Hi!
<p>
<p>You received this letter because you are member of the <%= @startup.name %> startup on our RAMP Client Business Planning support tool</p>
<p>This is a reminder to complete your task: <b><%= @task.title %></b></p>