<p>
  Hi, <%= @deleted_admin&.full_name %>
</p>
<p>
  You received this letter because your admin account has been deleted on <%= @deleted_admin&.accelerator&.name&.capitalize() %> Accelerator
  on RAMP Client Business Planning support tool.
</p>
