<p>
  Hi, <%= @customer.email %>
</p>
<p>
  You received this letter because you are a client of Centrepolis Accelerator.
  We are inviting you to our RAMP Client Business Planning support tool.
  As mentioned we use this tool with our clients as a Commercial/Technology/Manufacturing
  Risk Assessment and Milestone Management Planning Tool.
  The idea is to have the you first self-assess where your company is on these measures and
  then we will schedule a meeting time with you to review
  and develop milestone tasks that we both support in an effort to reduce your business
  risks on number of critical measures.
</p>
<p>
  Please click on the link below to activate your account.
</p>
<a href="<%= ENV['ADMIN_PANEL_HOST'] %>/users/password?reset_password_token=<%= @reset_token %>" >Your reset password link</a>
