<p>
  Hi, <%= @customer.email %>
</p>
<p>
  You received this letter because you were invited to Trello Forms,
</p>
<p>
  please click on the link below to activate your account.
</p>
<a href="<%= ENV['ADMIN_PANEL_HOST'] %>/users/password?reset_password_token=<%= @reset_token %>" >Your reset password link</a>
