<p>

  Hi, <%= @customer.email %>
  </p>
  <p> Your current password: <%= @customer.password %></p>
<p>
  To activate your account and start playing, get started using this
</p>
<a href="http://localhost:3000/users/password?reset_password_token=<%= @reset_token %>" >Your reset password link</a>
